<div class="container">
    <div class="homeButton" style="font-family: 'gotham';" >
        <button type="button" (click)="original()" class="btn btn-danger btn-lg" style="background-color: #C7493A !important; border-color: #E1F7FF;">Original</button>
    </div>
    <div class="homeButton" style="font-family: 'gotham';" >
        <button type="button" (click)="discover()" class="btn btn-danger btn-lg" style="background-color: #C7493A !important; border-color: #E1F7FF;">Discovery</button>
    </div>
    <div class="homeButton" style="font-family: 'gotham';" >
        <button type="button" (click)="playlist()" class="btn btn-danger btn-lg" style="background-color: #C7493A !important; border-color: #E1F7FF;">Playlists</button>
    </div>
    <div class="homeButton" style="font-family: 'gotham';" >
        <button type="button" class="btn btn-danger btn-lg" style="background-color: #C7493A !important; border-color: #E1F7FF;">Top 10s</button>
    </div>
</div>