.playerImg {
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
}
.currentPlayers {
    width:100%;
    position: relative;
    left: 750px;
    bottom: 450px;
}
.currentPlayers td {
    padding: 10px 30px;
    font-size: 20px;
}
