<div class="container">
    <div class="homeButton" style="font-family: 'gotham';" >
        <button type="button" (click)="original()" class="btn btn-danger btn-lg" style="background-color: #C7493A !important; border-color: #E1F7FF;">Challenge</button>
        <h3>This mode truly challenges your knowledge of your music history with 20 questions.</h3>
    </div>
    <br/>
    <br/>
    <div class="homeButton" style="font-family: 'gotham';" >
        <button type="button" (click)="playlist()" class="btn btn-danger btn-lg" style="background-color: #C7493A !important; border-color: #E1F7FF;">Playlists</button>
        <h3>This mode exposes ALL your playlists.</h3>
    </div>
    <br/>
    <br/>
    <div class="homeButton" style="font-family: 'gotham';" >
        <button type="button" (click)="top10()" class="btn btn-danger btn-lg" style="background-color: #C7493A !important; border-color: #E1F7FF;">Top 10s</button>
        <h3>This mode tests only your all time top 10 artists and tracks.</h3>
    </div>
    <br/>
    <br/>
    <div class="homeButton" style="font-family: 'gotham';" >
        <button type="button" (click)="discover()" class="btn btn-danger btn-lg" style="background-color: #C7493A !important; border-color: #E1F7FF;">Discovery</button>
        <h3>This mode never ends is perfect for finding new music from eachother.</h3>
    </div>
</div>