<div class="container">
    <div class="row">
        <div class="column">
            <div *ngIf="signIn; else elseBlock">
                <app-logo></app-logo>
            </div>
            <ng-template #elseBlock>
                <app-logo-frozen></app-logo-frozen>
            </ng-template>    
        </div>
    </div>
    
    <br>
    <div class="container2">
        <div class="inline">
            <button type="button" class="btn btn-primary btn-lg" (click)="login()">Add Player</button>
            &nbsp;
            <div *ngIf="players?.length >= 2">
                <button type="button" class="btn btn-danger btn-lg" (click)="start()">Start</button>
            </div>
            
        </div>
    </div>
    <br>
    <div class="currentPlayers">
        <table >
            <tbody>
                <tr *ngFor="let p of players">
                    <td><img [src]="p.image" class="playerImg"></td>
                    <td> {{ p.name }} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>