.controls{
    position: fixed;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: 	#E1F7FF;
}
.reaction{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: auto;
}
.homeButton{
    position: fixed;
    top: 10%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: auto;
}